@import "_mediaqueries";

body {
  display: flex;
  align-items: center;

  #about-h1 {
    display: flex;
    margin-top: 15vh;
    margin-bottom: 2.5vh;
    text-decoration: underline;
    text-underline-offset: 1vh;
    @include desktop {
      font-size: 4vw;
      margin-top: 10vh;
    }
  }
  .about-text {
    text-align: center;
    margin: 2vh;
    max-width: 55vw;
    font-size: 5vw;
    @include desktop {
      font-size: 2vw;
      max-width: 30vw;
    }
  }
  #about-ul {
    .about-li {
      p {
        text-align: left;
        margin: 0.5vh;
        font-size: 5vw;
        font-weight: bold;
        @include desktop {
          font-size: 2vw;
        }
      }
    }
  }
  #githublink {
    text-decoration: none;
    color: $orange;
    font-weight: bold;
    font-size: 9vw;
    transition: 0.1s ease-in-out;
    @include desktop {
      font-size: 4vw;
    }
    &:hover {
      text-decoration: underline;
      transform: scale(0.98);
    }
  }
}
