@import "_mediaqueries";
@import "_about";
@import "_categories";
@import "_rules";
@import "_game";
@import "_start";

* {
  margin: 0;
  padding: 0;
  font-family: "lato";
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
    width: 100%;
    h1 {
      display: none;
    }
    #phone-nav {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $red;
      z-index: 1;
      height: 15vh;
      width: 100%;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
      overflow: hidden;
      transition: 0.5s ease-in-out;
      #menu-list {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        visibility: hidden;
        top: 20vh;
        transition: 0.7s ease-in-out;
        &:hover {
          transform: scale(1);
        }
        li {
          list-style: none;
          background-color: black;
          width: 70vw;
          min-height: 5vh;
          margin: 2vh;
          border-radius: 0.2em;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
          transition: transform 0.7s ease-in-out;
          a {
            text-decoration: none;
            color: $red;
            font-size: 8vw;
            margin: 0.5vh;
            border: none;
            background-color: black;
            &:hover {
              color: $orange;
            }
          }
        }
      }
      #menu-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 5em;
        min-height: 5em;
        border-radius: 50%;
        border: none;
        background-color: black;
        color: $red;
        font-size: 4vw;
        cursor: pointer;
        text-decoration: none;
        margin: 1em;
        text-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.886);
        font-weight: bold;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
        transition: transform 0.7s ease-in-out;
        &:hover {
          color: $orange;
          background-color: rgb(41, 41, 41);
        }
        &:active {
          transform: scale(0.95) translate(-1%, -1%);
          color: $red;
        }
        @include desktop {
          display: none;
        }
      }
    }
    #desktop-nav {
      display: none;
    }
    @include desktop {
      #phone-nav {
        display: none;
      }
      h1 {
        font-size: 4vw;
      }
    }
  }
}
