@font-face {
  font-family: "Lato";
  src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}
@font-face {
  font-family: "Lato";
  src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}
body {
  display: flex;
  align-items: center;
}
body #about-h1 {
  display: flex;
  margin-top: 15vh;
  margin-bottom: 2.5vh;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
@media screen and (min-width: 800px) {
  body #about-h1 {
    font-size: 2.5vw;
    margin-top: 10vh;
  }
}
body .about-text {
  text-align: center;
  margin: 2vh;
  max-width: 55vw;
  font-size: 5vw;
}
@media screen and (min-width: 800px) {
  body .about-text {
    font-size: 1.5vw;
    max-width: 30vw;
  }
}
body #about-ul .about-li p {
  text-align: left;
  margin: 0.5vh;
  font-size: 5vw;
  font-weight: bold;
}
@media screen and (min-width: 800px) {
  body #about-ul .about-li p {
    font-size: 1.5vw;
  }
}
body #githublink {
  text-decoration: none;
  color: #ff8a00;
  font-weight: bold;
  font-size: 9vw;
  transition: 0.1s ease-in-out;
}
@media screen and (min-width: 800px) {
  body #githublink {
    font-size: 3vw;
  }
}
body #githublink:hover {
  text-decoration: underline;
  transform: scale(0.98);
}

@font-face {
  font-family: "Lato";
  src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}
body {
  display: flex;
  align-items: center;
}
body #rules-h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
  align-self: center;
  margin-top: 15vh;
  margin-bottom: 2.5vh;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
@media screen and (min-width: 800px) {
  body #rules-h1 {
    font-size: 3vw;
    margin-top: 10vh;
  }
}
body #rules-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 60vw;
}
body #rules-ul .rules-li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  margin: 0.5vh;
  text-align: center;
}
@media screen and (min-width: 800px) {
  body #rules-ul .rules-li {
    font-size: 1.5vw;
    max-width: 30vw;
  }
}

@font-face {
  font-family: "Lato";
  src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}
#game {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
#game header {
  position: absolute;
  top: 0;
}
#game .section-h1 {
  display: flex;
  font-size: 10vw;
  align-self: center;
  margin-top: 10vh;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
@media screen and (min-width: 800px) {
  #game .section-h1 {
    font-size: 3vw;
    justify-content: center;
    margin-top: 5vh;
  }
}
#game .info-text {
  font-size: 6vw;
  max-width: 60vw;
  align-self: center;
  margin-top: 2vh;
  text-align: center;
}
@media screen and (min-width: 800px) {
  #game .info-text {
    font-size: 1.5vw;
    justify-content: center;
  }
}
#game #category-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  transition: 0.5s ease-in-out;
}
#game #category-container #category-txt-container {
  margin-bottom: 5vh;
}
#game #category-container #cat-ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 800px) {
  #game #category-container #cat-ul {
    max-width: 80vw;
  }
}
#game #category-container #cat-ul .cat-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 0.4em;
  align-items: center;
}
@media screen and (min-width: 800px) {
  #game #category-container #cat-ul .cat-list {
    margin: 2em;
  }
}
#game #category-container #cat-ul .cat-list .cat-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  height: 4em;
  max-width: 4em;
  border: none;
  padding: 1em;
  color: #cc4040;
  font-size: 8vw;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 800px) {
  #game #category-container #cat-ul .cat-list .cat-btn {
    font-size: 3vw;
  }
}
#game #category-container #cat-ul .cat-list .cat-btn:hover {
  background-color: black;
  color: #ff8a00;
}
#game #category-container #cat-ul .cat-list .active:focus {
  background-color: #1dd20d;
  color: black;
}
#game #startGame-btn {
  display: flex;
  visibility: hidden;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 5vh;
  min-width: 40vw;
  min-height: 5vh;
  border-radius: 0.4em;
  border: none;
  background-color: #1dd20d;
  color: black;
  font-size: 6vw;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 800px) {
  #game #startGame-btn {
    font-size: 2vw;
    min-width: 15vw;
    margin-top: 0;
  }
}
#game #startGame-btn:hover {
  color: #ff8a00;
  background-color: rgb(41, 41, 41);
  transform: scale(1.02);
}
#game #startGame-btn:active {
  transform: scale(0.95);
  color: #1dd20d;
}
#game #game-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  transition: 0.5s ease-in-out;
}
#game #game-container #game-txt-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1vh;
}
#game #game-container #scale-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 30vh;
  width: 100%;
}
#game #game-container #scale-section #lives-container {
  display: flex;
  /*  flex-direction: column; */
  align-items: center;
  justify-content: center;
}
#game #game-container #scale-section #lives-container #guesses-left {
  display: flex;
  /* flex-direction: column; */
}
#game #game-container #scale-section #lives-container #guesses-left .lives-list {
  list-style: none;
  margin: 1vh;
}
#game #game-container #scale-section #lives-container #guesses-left .lives-list .circles {
  border: 0.3vw solid black;
  border-radius: 50%;
  min-width: 1rem;
  min-height: 1rem;
}
@media screen and (min-width: 800px) {
  #game #game-container #scale-section #lives-container #guesses-left .lives-list .circles {
    min-width: 1rem;
    min-height: 1rem;
    border: 0.1vw solid black;
  }
}
#game #game-container #scale-section #scale-img {
  min-width: 70vw;
}
@media screen and (min-width: 800px) {
  #game #game-container #scale-section #scale-img {
    min-width: 25vw;
  }
}
#game #game-container #scale-section #word-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  min-height: 10vh;
  width: 90vw;
}
#game #game-container #scale-section #word-holder #my-word {
  margin: 1rem 1rem 0rem 2.5rem;
  color: black;
  font-size: 1.5rem;
  letter-spacing: 1.5rem;
  text-align: center;
  width: 70vw;
}
#game #game-container #scale-section #word-holder #result-word {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  text-transform: none;
  /* width: 70vw; */
}
#game #game-container #letter-ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
@media screen and (min-width: 800px) {
  #game #game-container #letter-ul {
    max-width: 60vw;
    margin-top: 7rem;
  }
}
#game #game-container #letter-ul .letter-list {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  list-style: none;
  margin: 1vw;
  min-height: 2.5rem;
  min-width: 2.5rem;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: black;
  color: #ff8a00;
  font-weight: bold;
  cursor: pointer;
  border: none;
}
@media screen and (min-width: 800px) {
  #game #game-container #letter-ul .letter-list {
    min-height: 3rem;
    min-width: 3rem;
    font-size: 2vw;
    margin: 0.3vw;
  }
}
#game #game-container #letter-ul .letter-list:hover {
  background-color: #8b8b8b;
  color: #ffd39f;
  transform: scale(1.1);
}
#game #game-container #letter-ul .letter-list:disabled {
  background-color: #8b8b8b;
  transform: scale(0.7);
  color: #ffd39f;
  cursor: not-allowed;
}

@font-face {
  font-family: "Lato";
  src: url(https://fonts.googleapis.com/css2?family=Lato&display=swap);
}
body #start-h1 {
  font-size: 10vw;
  align-self: center;
  margin-top: 5vh;
  text-decoration: underline;
  text-underline-offset: 1vh;
}
@media screen and (min-width: 800px) {
  body #start-h1 {
    font-size: 4vw;
    justify-content: center;
    align-items: center;
  }
}
body #welcome-text {
  font-size: 6vw;
  max-width: 60vw;
  align-self: center;
  margin-top: 3vh;
  text-align: center;
}
@media screen and (min-width: 800px) {
  body #welcome-text {
    margin-top: 8vh;
    font-size: 2.5vw;
    max-width: 40vw;
  }
}
body #letsGo-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 10vh;
  min-width: 40vw;
  min-height: 5vh;
  border-radius: 0.4em;
  border: none;
  background-color: black;
  color: #cc4040;
  font-size: 6vw;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}
@media screen and (min-width: 800px) {
  body #letsGo-btn {
    font-size: 2vw;
    min-width: 15vw;
  }
}
body #letsGo-btn:hover {
  transform: scale(1.02);
  color: #ff8a00;
  background-color: rgb(41, 41, 41);
}
body #letsGo-btn:active {
  transform: scale(0.95);
  color: #cc4040;
}

* {
  margin: 0;
  padding: 0;
  font-family: "lato";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15vh;
  width: 100%;
}
@media screen and (min-width: 800px) {
  body header {
    background-color: #cc4040;
  }
}
body header #phone-nav {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #cc4040;
  z-index: 1;
  height: 15vh;
  width: 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: 0.5s ease-in-out;
}
@media screen and (min-width: 800px) {
  body header #phone-nav {
    display: none;
  }
}
body header #phone-nav #menu-list-phone {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  visibility: hidden;
  transform: translateY(-40vh);
  transition: 0.5s ease-in-out;
}
body header #phone-nav #menu-list-phone li {
  list-style: none;
  background-color: black;
  width: 70vw;
  min-height: 5vh;
  margin: 2vh;
  border-radius: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
}
body header #phone-nav #menu-list-phone li a {
  text-decoration: none;
  color: #cc4040;
  font-size: 8vw;
  margin: 0.5vh;
  border: none;
  background-color: black;
}
body header #phone-nav #menu-list-phone li a:hover {
  color: #ff8a00;
}
body header #phone-nav #menu-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 50%;
  transform: translateY(0vh);
  border: none;
  background-color: black;
  color: #cc4040;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  margin: 1em;
  text-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.886);
  font-weight: bold;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
  transition: 0.5s ease-in-out;
}
body header #phone-nav #menu-btn:hover {
  color: #ff8a00;
  background-color: rgb(41, 41, 41);
}
body header #phone-nav #menu-btn:active {
  transform: scale(0.5);
  color: #cc4040;
}
@media screen and (min-width: 800px) {
  body header #phone-nav #menu-btn {
    display: none;
  }
}
body header #desktop-nav {
  display: none;
}
@media screen and (min-width: 800px) {
  body header #desktop-nav {
    display: flex;
  }
  body header #desktop-nav #menu-list-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    min-width: 40vw;
  }
  body header #desktop-nav #menu-list-desktop .btnListDesk .listBtnsDesk {
    text-decoration: none;
    background-color: black;
    color: #cc4040;
    font-size: 1.5rem;
    border-radius: 0.2em;
    margin: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  body header #desktop-nav #menu-list-desktop .btnListDesk .listBtnsDesk:hover {
    color: #ff8a00;
  }
}
@media screen and (min-width: 800px) {
  body header #phone-nav {
    display: none;
  }
  body header h1 {
    font-size: 4vw;
  }
}/*# sourceMappingURL=styles.css.map */